@import url('https://fonts.googleapis.com/css2?family=Alef:wght@400;700&family=Cinzel:wght@400;700&family=Fenix&family=IM+Fell+French+Canon+SC&family=Nunito:wght@400;700&family=Outfit:wght@400;700&family=Plus+Jakarta+Sans:wght@400;700&family=Poppins:wght@400;700&family=Quicksand:wght@400;700&display=swap');

body{
    font-family: 'Nunito', sans-serif;
    margin: 0;
    background-color: #3A8891;
}

hr{
    width: 98%;
}

h1{
    margin-bottom: 0;
}

header p{
    margin-top: 0;
    margin-bottom: 25px;
}

#nav-header{
    text-align: center;
}

.nav-link{
    margin-right: 45px;
    text-decoration: none;
    color: white;
}

.logo{
    width: 70px;
    margin-right: 390px;
    margin-bottom: -90px;
}

.nav-link:hover{
    background-color: #FED049;
    color: #fff;
    padding: 5px;
    border-radius: 16px;
}

#navbar{
    background-color: #0002A1;
    box-shadow: 0 5px 7px rgba(0, 0, 0, 0.5);
    color: white;
    position: fixed;
    top: 0;
    width: 100%;
    margin: auto;
    text-align: center;
}

nav, main{
    padding: 8px;
}

h4{
    color: #0002A1;
}

section{
    margin-bottom: 70px;
    margin-right: 17px;
    background-color: #ffffff;
    padding: 30px;
    border-radius: 16px;
    box-shadow: -10px 8px 10px rgba(0, 0, 0, 0.5);
}

#main-doc{
    margin-left: 20px;
    margin-top: 200px;
}

.code{
    width: 18%;
    background-color: lightgray;
    padding: 10px;
}

@media (min-width: 600px) {
    /* CSS yang hanya akan diterapkan pada layar dengan lebar minimal 600px */
    body {
    font-size: 18px;
    }
}